In [ ]:
# List is a sequence representation of a data
# A indexed representation of data
# List are single dimensional arrays like
# But Arrays are Multidimensional 
# http://scipy.org

In [1]:
L1=[1,2,3,4,5]
L2=['raju','ramu','somu']
L3=[10.45,10.63,10.56]
L4=['raju',100,10.45]

In [2]:
print(L1)
print(L2)
print(L3)
print(L4)

[1, 2, 3, 4, 5]
['raju', 'ramu', 'somu']
[10.45, 10.63, 10.56]
['raju', 100, 10.45]

In [ ]:
#Creating Empty list

In [3]:
# Method1
L5=[]
print(L5)

[]

In [4]:
# Method2
L6=list()
print(L6)
print(type(L6))

[]
<class 'list'>

In [5]:
L7=list(["Python","Java",".Net"])
print(L7)

['Python', 'Java', '.Net']

In [7]:
L8=list("Python")
print(L8)

['P', 'y', 't', 'h', 'o', 'n']

In [8]:
L9=list(100)
print(L9)

TypeError: 'int' object is not iterable

In [9]:
L10=list([100])
print(L10)

[100]

In [11]:
L11=list([100,200,300])
print(L11)

[100, 200, 300]

In [12]:
print(L11[0])

100

In [13]:
#Datatypes of list and their elements
L4=['raju',100,10.45]
print(L4)
print(type(L4))
print(type(L4[0]))
print(type(L4[1]))
print(type(L4[2]))

['raju', 100, 10.45]
<class 'list'>
<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
# indexes of list 
#       0  1  2  3   4 # positive indexes
#L1 = [ 1, 2, 3, 4 , 5]
#      -5 -4 -3 -2  -1  # Negative indexes

In [15]:
#Indexes of list
print(L4)
print(L4[0])
print(L4[2])
print(L4[-1])
print(L4[-4])

['raju', 100, 10.45]
raju
10.45
10.45

IndexError: list index out of range

In [17]:
# slicing of list with indexes
L1=[1,2,3,4,5,6,7,8,9,10,11,12,13]
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [18]:
print(L1[1:4])
print(L1[:7])
print(L1[6:])
print(L1[:])

[2, 3, 4]
[1, 2, 3, 4, 5, 6, 7]
[7, 8, 9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13]

In [19]:
# creation of List
days = ['sun','mon','tue','wed','thu','fri']

In [20]:
print (days)
type(days)

['sun', 'mon', 'tue', 'wed', 'thu', 'fri']

list

In [21]:
# in operator on list
print (days)
print ('sun' in days)
print ('sat' in days)

['sun', 'mon', 'tue', 'wed', 'thu', 'fri']
True
False

In [22]:
day=input("Enter a day name::")
if day in days:
    print("Element is existed")
else:
    print("Element is Not Existed")

Enter a day name::sat
Element is Not Existed

In [23]:
students = ['abhi','hari','srikanth','sunil','lokesh']
print (students)

['abhi', 'hari', 'srikanth', 'sunil', 'lokesh']

In [24]:
std_absent = ['sunil']
print (std_absent)

['sunil']

In [25]:
for i in [1,2,3,4,5]:
    print(i)

1
2
3
4
5

In [26]:
students = ['abhi','hari','srikanth','sunil','lokesh']

In [27]:
for i in students:
    print(i,end=',')

abhi,hari,srikanth,sunil,lokesh,

In [28]:
L1=[1,2,3,4,5]

In [29]:
i=9
if i in L1:
    print("Existed")
else:
    print("Not Existed")

Not Existed

In [33]:
students = ['abhi','hari','srikanth','sunil','lokesh']
std_absent = ['sunil']

In [34]:
# to see the behaviour of "CONTINUE"
#students = ['abhi','hari','srikanth','sunil','lokesh']
for student in students:
    if student in std_absent:
        continue # print all except sunil
        #break # print up to sunil
        #pass  # print everything
    print ("Attended students information:{}".format(student))

Attended students information:abhi
Attended students information:hari
Attended students information:srikanth
Attended students information:lokesh

In [36]:
# to see the behaviour of "BREAK"
for student in students:
    if student in std_absent:
        #continue # print all except sunil
        break # print up to sunil
        #pass  # print everything
    print ("Attended students information:{}".format(student))
print("Out side of the For Loop")

Attended students information:abhi
Attended students information:hari
Attended students information:srikanth
Out side of the For Loop

In [37]:
# to see the behaviour of "PASS"
for student in students:
    if student in std_absent:
        #continue # print all except sunil
        #break # print up to sunil
        pass  # print everything
    print ("Total students information:{}".format(student))

Total students information:abhi
Total students information:hari
Total students information:srikanth
Total students information:sunil
Total students information:lokesh

In [38]:
# only absent student information 
for student in students:
    if student not in std_absent:
        continue # print all except sunil
        #break # print 
        #pass  # print everything
    print ("Absent students information:{}".format(student.upper()))

Absent students information:SUNIL

In [40]:
# Modification of list elements
students = ['abhi','hari','srikanth','sunil','lokesh']
print (students)

['abhi', 'hari', 'srikanth', 'sunil', 'lokesh']

In [42]:
# students list index values
# ['kalyan','hari','srikanth','sunil','lokesh']
#     0       1        2         3       4
print(students)
students[3] = 'sunil raju'
print (students)

['abhi', 'hari', 'srikanth', 'sunil raju', 'lokesh']
['abhi', 'hari', 'srikanth', 'sunil raju', 'lokesh']

In [27]:
str1='python'
print (str1)
print (type(str1))
print (str1[0])

python
<class 'str'>
p

In [28]:
#modifying string character
print(str1[0])

p

In [29]:
str1[0]='J'

TypeError: 'str' object does not support item assignment

In [1]:
# converting string to a list and vice-versa
str1='python'
print (str1)
print (type(str1))

python
<class 'str'>

In [58]:
print (str1)

python

In [59]:
# convert string to list
L1 = list(str1)
print (L1)
print (type(L1))

['p', 'y', 't', 'h', 'o', 'n']
<class 'list'>

In [60]:
print (str1)
print (L1)

python
['p', 'y', 't', 'h', 'o', 'n']

In [61]:
L1[0]='J'
print(L1)

['J', 'y', 't', 'h', 'o', 'n']

In [62]:
print(str1)

python

In [68]:
print("".join(L1))

Jython

In [69]:
str1="Python"
print(str1)
L1=list(str1)
L1[0]="J"
str1="".join(L1)
print(str1)

Python
Jython

In [43]:
#methods on list
print (days)

['sun', 'mon', 'tue', 'wed', 'thu', 'fri']

In [44]:
students = ['ramu','sunil','srikanth','sridhar','sunil','ravi']

In [45]:
print(help(students.append))

Help on built-in function append:

append(...) method of builtins.list instance
    L.append(object) -> None -- append object to end

None

In [46]:
# method1: append : to add new element at last
print (students)
students.append('ramesh')
print (students)

['ramu', 'sunil', 'srikanth', 'sridhar', 'sunil', 'ravi']
['ramu', 'sunil', 'srikanth', 'sridhar', 'sunil', 'ravi', 'ramesh']

In [47]:
#method2: clear : it removes all elements from list
L1=[1,2,3,4,5]
print(L1)
print(L1.clear())
print(L1)

[1, 2, 3, 4, 5]
None
[]

In [49]:
print(help(list.copy))

Help on method_descriptor:

copy(...)
    L.copy() -> list -- a shallow copy of L

None

In [48]:
#method3: copy : it copy all elements from existing list
L1=[1,2,3,4,5]
print(L1)
L2=L1.copy()
L33=list.copy(L1)
print(L1)
print(L2)
print(L33)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [50]:
print(L1)
L3=L1
print(L3)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [51]:
#method4:count:it will count how many time given element is existed
L1=[1,2,1,3,4,5,1,2,4,1,6,7,8]
print(L1)
print(L1.count(1))
print(L1.count(2))
print(L1.count(9))

[1, 2, 1, 3, 4, 5, 1, 2, 4, 1, 6, 7, 8]
4
2
0

In [43]:
print(help(list.extend))

Help on method_descriptor:

extend(...)
    L.extend(iterable) -> None -- extend list by appending elements from the iterable

None

In [52]:
#method5: extend: it will extend a list by adding another list
#                 list elements
L1=[1,2,3,4,5]
L2=[6,7,8,9,10]
print(L1)
print(L2)
L1.extend(L2)
print(L1)

[1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [53]:
#method5: extend
L1=[1,2,3,4,5]
print(L1)
L1.extend([6,7,8,9,10])
print(L1)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [54]:
#method6: index: it will find the index position for given char
mailid="abcded@gmail.com"
print(mailid.index('@'))

6

In [56]:
mailid="abcded@gmail@com"
print(mailid.index('@',7))

12

In [57]:
mailid="abdsfgsdfgded@gmail@com"
print(mailid.index('@',7))

13

In [60]:
# to find the second @ character in email address
mailid="abdsdfgded@gmail@com"
print (mailid.index('@',(mailid.index('@'))+1))

16

In [65]:
L1=[4,2,3,1,4,5,4,7,1]
print(L1)
print(L1.index(1,4,7))

[4, 2, 3, 1, 4, 5, 4, 7, 1]

ValueError: 1 is not in list

In [66]:
mailid="abcded@gmail.com"
if mailid.count('@') == 1:
    print ("valid Email ID")
else:
    print ("InValid Email id")

valid Email ID

In [67]:
#method7: insert: it will insert new element at given index 
        #  position
L1=[1,3,4,5]
print(L1)
L1.insert(3,700)
print(L1)

[1, 3, 4, 5]
[1, 3, 4, 700, 5]

In [77]:
#method8:pop : it will remove last element from list
L1=["Python","java","c","c++","javascript","c#","php"]
print(L1)

['Python', 'java', 'c', 'c++', 'javascript', 'c#', 'php']

In [84]:
print(L1)

['Python', 'java', 'c++', 'javascript']

In [83]:
L1.pop(2)

'c'

In [5]:
#pop can remove element from list based on index position
print(L1)
L1.pop(3)
print(L1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[1, 2, 3, 5, 6, 7, 8, 9, 10, 11]

In [88]:
#method9: remove: it removes given element
L1=[1,2,3,4,5,"A",6,7,7,6,5,7,8,9]

[1, 2, 3, 4, 5, 'A', 6, 7, 7, 6, 5, 7, 8, 9]

In [94]:
print(L1)

[1, 2, 3, 4, 6, 7, 7, 6, 7, 8, 9]

In [93]:
L1.remove(5)

In [98]:
#method10:reverse:it arrange reverse order of element
L1=[2,3,"x",10.45,6,6,7,7,6,'raju',8,9,1]
print(L1)
L1.reverse()
print(L1)

[2, 3, 'x', 10.45, 6, 6, 7, 7, 6, 'raju', 8, 9, 1]
[1, 9, 8, 'raju', 6, 7, 7, 6, 6, 10.45, 'x', 3, 2]

In [99]:
#method11: sort: ascending or descending
L1=[3,2,1,8,4,6,5]
print(L1)
L1.sort() # ascending 
print(L1)
L1.sort(reverse=True) # descending
print(L1)

[3, 2, 1, 8, 4, 6, 5]
[1, 2, 3, 4, 5, 6, 8]
[8, 6, 5, 4, 3, 2, 1]

In [101]:
L1=['a','A','b','f','d']
print(L1)
L1.sort()
print(L1)
L1.sort(reverse=True)
print(L1)

['a', 'A', 'b', 'f', 'd']
['A', 'a', 'b', 'd', 'f']
['f', 'd', 'b', 'a', 'A']

In [102]:
L1=['z','db','da']
print(L1)
L1.sort()
print(L1)

['z', 'db', 'da']
['da', 'db', 'z']

In [103]:
#examples
L1=[1,2,3,4,5]
print(L1)

[1, 2, 3, 4, 5]

In [104]:
for i in L1:
    print(i,end='')

12345

In [105]:
# to find no of elements in a list
L1=[1,2,3,'a',5,5]
len(L1)

6

In [ ]:
# assignments

In [108]:
L1=[1,2,3,4,5]

In [109]:
# sum of all elements in a list, multiply , large value ,
s=sum(L1)
print(s)

15

In [112]:
lsum=0
L1=[1,2,3,4,5]
for i in L1:
    lsum = lsum + i
print(lsum)

15

In [113]:
lsum=1
L1=[1,2,3,4,5]
for i in L1:
    lsum = lsum * i
print(lsum)

120

In [ ]:
# large number form list and min number

#validation of email 
1. before @ 6 characters
2. only one @
3. only one . after @
4. after . only accept [com,net,in,co,org]
5. between @ and . at least 3 character
1. remove all emails who are not satisfied as per above rules from existing
   list
2. accept input as email validate as per above rules and add in existing
   list

In [ ]:
# remove duplicates from list

In [ ]:
# seaparate elements from list according to their datatypes and add in
corresponding lists