In [ ]:
# tuples
# tuples are readonly lists
# we  can not add new element in tuple
# we use normal braces to create tuple

In [1]:
T1=(1,2,3,4,5)
T2=("raju","ramesh","Gyanvriksh")
T3=(10.45,10.63,10.55)
T4=(1,"raju",10.45)

In [2]:
print(T1)
print(T2)
print(T3)
print(T4)

(1, 2, 3, 4, 5)
('raju', 'ramesh', 'Gyanvriksh')
(10.45, 10.63, 10.55)
(1, 'raju', 10.45)

In [3]:
# How to create empty tuple
#method 1
T5=()
print(type(T5))
print(T5)

<class 'tuple'>
()

In [5]:
# method 2
T6=tuple()
print(type(T6))
print(T6)

<class 'tuple'>
()

In [4]:
T7=tuple((1,2,3,4,5))
print(type(T7))
print(T7)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [5]:
L1=[1,'two',3]

In [7]:
L1=[1,2,3,4,5]
print(type(L1))
print(L1)

<class 'list'>
[1, 2, 3, 4, 5]

In [8]:
#How to create tuple from list elements
T8=tuple(L1)
print(type(T8))
print(T8)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [9]:
# create tuple with range function
T9=tuple(range(1,11))
print(type(T9))
print(T9)

<class 'tuple'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [10]:
#Tuples are read only we can not modify elements
print(T1)
print(T1[0])

(1, 2, 3, 4, 5)
1

In [11]:
T1[0]=100

TypeError: 'tuple' object does not support item assignment

In [12]:
#we can not add new element into existing tuple
print(T1)

(1, 2, 3, 4, 5)

In [13]:
T1[5]=6
#Note: tuple does not have ay method to add element

TypeError: 'tuple' object does not support item assignment

In [14]:
# datatypes of tuple object and elements
print(T4)
print(type(T4))
print(type(T4[0]))
print(type(T4[1]))
print(type(T4[2]))

(1, 'raju', 10.45)
<class 'tuple'>
<class 'int'>
<class 'str'>
<class 'float'>

In [15]:
#creating tuple with single element
T5=("Python")
print(type(T5))
T6=("Python",)
print(type(T6))
# to create tuple with single element we need to provide "," 
# after element in tuple definition

<class 'str'>
<class 'tuple'>

In [16]:
T9=tuple("welcome")
print(T9)
L1=[1,2,3,4,5]
T10=tuple(L1)
print(T10)

('w', 'e', 'l', 'c', 'o', 'm', 'e')
(1, 2, 3, 4, 5)

In [17]:
T7=1,2,3,4,5
T8="ravi","ramesh"
print(type(T7))
print(type(T8))

<class 'tuple'>
<class 'tuple'>

In [18]:
days = ('sun','mon','tue','wed','thu','fri','sat')

In [19]:
print (days)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [20]:
# indexing for tuple elements
print (days[5])

fri

In [21]:
# to know the element existed or not in tuple
# we use "in" operator to know existance of tuple element
print('sun' in days)

True

In [22]:
element=input("Enter element value ::")
if element in days:
    print("Existed")
else:
    print("Not Existed")

Enter element value ::sat
Existed

In [23]:
#creating tuple with multiple elements without braces
T9="Python","Django","Apache","MySql"
print(T9)
print(type(T9))

('Python', 'Django', 'Apache', 'MySql')
<class 'tuple'>

In [24]:
students = ('sunil','srikanth','hari','ramu')

In [25]:
print (students)

('sunil', 'srikanth', 'hari', 'ramu')

In [26]:
# indexing in tuple
print (days[0])
print (days[4])
print (days[10])
# Note: out of index is error

sun
thu

IndexError: tuple index out of range

In [29]:
# slicing
print(T9[1:66])

('Django', 'Apache', 'MySql')

In [30]:
#to know the no of elements in a tuple
print (len(days))

7

In [32]:
for i in range(7):
    print(i,end=',')

0,1,2,3,4,5,6,

In [33]:
# to get the elements from tuple using for loop
print(days)
for i in range(len(days)):
    print (days[i])

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')
sun
mon
tue
wed
thu
fri
sat

In [34]:
#slicing in tuple
print (days[:])

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [35]:
print (days[3:6])

('wed', 'thu', 'fri')

In [36]:
print (days[2:20])

('tue', 'wed', 'thu', 'fri', 'sat')

In [37]:
# packing and unpacking of tuple object elements
print (days)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [38]:
days = ('sun','mon','tue','wed','thu','fri','sat')  #packing
day1, day2, day3, day4, day5, day6, day7  = days   # unpacking
# Left Hand side = right hand side

In [40]:
print (day6)

fri

In [41]:
# packing and unpacking on list
L1=[1,2,3,4,5]
a,b,c,d,e=L1
print(c)

3

In [42]:
students = ['sunil','srikanth','hari','ramu','raju']
subjects = ['oracle','java','unix','informatica','python']

In [43]:
#methods of tuple
#method1: count: how many time it is existed
T1=(1,1,1,1,1,3,4,5,6,3,2,2,7,8)
print(T1.count(3))

2

In [44]:
T1=(1,1,1,1,1,3,4,5,6,3,2,2,7,8)
print(T1.count(1))

5

In [46]:
#method2: index: it will display the position of given element
students = ('sunil','srikanth','hari','hari','ramu','raju')

In [49]:
print(students.index("hari",3))

3

In [48]:
print(students.count("hari"))

2

In [50]:
students = ('sunil','srikanth','hari','hari','ramu','raju')
subjects = ['oracle','java','unix','informatica','python']

In [40]:
sname = 'sunil'
print (sname)
print (sname in students)
print (students.index(sname))
print (subjects[0])
print (subjects[students.index(sname)])

sunil
True
0
oracle
oracle

In [42]:
students = ['sunil','srikanth','hari','ramu','raju']
subjects = ['oracle','java','unix','informatica','python']
for sname in students:
    print ("{} is joined for the course of {}".format(sname,subjects[students.index(sname)]))

sunil is joined for the course of oracle
srikanth is joined for the course of java
hari is joined for the course of unix
ramu is joined for the course of informatica
raju is joined for the course of python

In [ ]:
sname = input("Enter student Name:")
if sname in students:
    print ("{} is joined for the course of {}".format(sname,subjects[students.index(sname)]))
else:
    print (sname," student is not existed ")

In [45]:
for sname in students:
    print ("{} is joined for the course of {}".format(sname,subjects[students.index(sname)]))

sunil is joined for the course of oracle
srikanth is joined for the course of java
hari is joined for the course of unix
ramu is joined for the course of informatica
raju is joined for the course of python

In [46]:
student_sub = [('hari','python'),('ramu','oracle'),('ravi','unix')]

In [47]:
print (student_sub[1])

('ramu', 'oracle')

In [48]:
print (student_sub[0][1])

python

In [49]:
student_sub[0] = ('hari','java')

In [50]:
print (student_sub[0])

('hari', 'java')

In [51]:
student_sub[0][0]='suri'  # tuple element can not be modified

TypeError: 'tuple' object does not support item assignment

In [52]:
print (student_sub)

[('hari', 'java'), ('ramu', 'oracle'), ('ravi', 'unix')]

In [53]:
students = ['sunil','srikanth','hari','ramu','raju']

In [54]:
sname = input("Enter student name::")
for student in students:
    if sname == student:
        print ("{} is joined for the course of {}".format(sname,subjects[students.index(sname)]))

Enter student name::raju
raju is joined for the course of python

In [60]:
student_sub = [('hari','python'),('ramu','oracle'),('ravi','unix')]

In [ ]:
# functions on tuple

In [62]:
print (days)

('sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat')

In [42]:
print days.count('tue')

1

In [63]:
print (days.index('thu'))

4

In [64]:
days = ('sun', 'mon', 'tues', 'wednes', 'thurs', 'fri', 'satur')

In [65]:
print(days)

('sun', 'mon', 'tues', 'wednes', 'thurs', 'fri', 'satur')

In [66]:
for day in days:
    print (day+'day')

sunday
monday
tuesday
wednesday
thursday
friday
saturday

In [67]:
print(days)

('sun', 'mon', 'tues', 'wednes', 'thurs', 'fri', 'satur')

In [69]:
weekday = list()
print(weekday)

[]

In [70]:
for day in days:
    weekday.append(day+'day')

In [71]:
print (weekday)

['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [72]:
print (days)
weekday = list()
print (weekday)
for day in days:
    weekday.append(day+'day')
print (weekday)

('sun', 'mon', 'tues', 'wednes', 'thurs', 'fri', 'satur')
[]
['sunday', 'monday', 'tuesday', 'wednesday', 'thursday', 'friday', 'saturday']

In [73]:
L1=[1,2,3,4,5]
T1=tuple(L1)
print(type(T1))
print(T1)

<class 'tuple'>
(1, 2, 3, 4, 5)

In [55]:
for i in range(5):
    print(i)

0
1
2
3
4