In [1]:
# sets:

In [1]:
S1={1,2,3,4}
S2={10.45,11.46,10.63}
S3={"Python","Django","Vscode"}
S4={1,"Raju",10.45}

In [2]:
print(S1)
print(S2)
print(S3)
print(S4)

{1, 2, 3, 4}
{10.45, 11.46, 10.63}
{'Python', 'Vscode', 'Django'}
{1, 10.45, 'Raju'}

In [3]:
print(type(S1))

<class 'set'>

In [24]:
days = {'sun','sun','mon','tues','thurs','fri','sat'}

In [7]:
print(days)

{'fri', 'sun', 'thurs', 'sat', 'tues', 'mon'}

In [4]:
days2=['sun','sun','mon','tues','thurs','fri','sat']

In [5]:
len(days2)

7

In [6]:
weekdays = set(days2)

In [8]:
print (weekdays)

{'mon', 'fri', 'thurs', 'tues', 'sat', 'sun'}

In [9]:
print (type(weekdays))

<class 'set'>

In [10]:
s8={1,2,1,4,3,5,3,4,7,9,8}

In [11]:
print(s8)

{1, 2, 3, 4, 5, 7, 8, 9}

In [12]:
# existance of set element
'sun' in weekdays

True

In [13]:
'san' in weekdays

False

In [14]:
S1={1,2,3,4}
S2={3,4,5,6}

In [15]:
print(S1|S2) # union
print(S1&S2) # intersection
print(S1-S2) # s1 only
print(S2-S1) # s2 only
print(S1^S2) # (s1-s2) union (s2-s1) or (s1|s2) - (s1&s2)

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{5, 6}
{1, 2, 5, 6}

In [16]:
m = set('abcd')
n = set('abcf')

In [17]:
print (m)
print (n)

{'c', 'a', 'd', 'b'}
{'c', 'a', 'f', 'b'}

In [18]:
print (m - n)

{'d'}

In [19]:
print (n - m)

{'f'}

In [20]:
print (m | n)

{'c', 'a', 'b', 'd', 'f'}

In [21]:
print (m & n)

{'c', 'a', 'b'}

In [22]:
print (m ^ n)

{'f', 'd'}

In [25]:
print (set(days))

{'mon', 'sat', 'fri', 'sun', 'thurs', 'tues'}

In [26]:
days = ['sun','sun','mon','tue','wed','thu','fri','sat']

In [26]:
print(sorted([1,2,8,3,6,5]))

[1, 2, 3, 5, 6, 8]

In [27]:
print(sorted([1,2,8,3,6,5],reverse=True))

[8, 6, 5, 3, 2, 1]

In [27]:
for i in sorted(set([1,6,3,9,5]),reverse=True):
    print (i)

9
6
5
3
1

In [28]:
for i in sorted(set([1,6,3,9,5])):
    print (i)

1
3
5
6
9

In [28]:
for i in sorted(set([1,6,3,9,5]),reverse=True):
    print (i)

9
6
5
3
1

In [29]:
for i in sorted(set(days)):
    print (i)

fri
mon
sat
sun
thu
tue
wed

In [ ]:
# How to create empty set

In [30]:
#method 1
S5=set()
print(S5)
print(type(S5))

set()
<class 'set'>

In [31]:
# methods
S5.add(1)

In [32]:
print(S5)

{1}

In [33]:
S1={1,2,3,4}
print(S1)
S1.clear()
print(S1)

{1, 2, 3, 4}
set()

In [51]:
S1={1,2,3,4}
print(type(S1))
S2=S1.copy()
print(S2)

<class 'set'>
{1, 2, 3, 4}

In [57]:
S1={1,2,3,4}
S2={3,4,5,6}
print(S1.difference(S2)) # s1 - s2
print(S2.difference(S1)) # s2 - s1
print(set.difference(S1,S2)) # s1 - s2
print(set.difference(S2,S1)) # s2 - s1

{1, 2}
{5, 6}
{1, 2}
{5, 6}

In [35]:
S1={1,2,3,4,5}

In [36]:
set.discard(S1,2)

In [37]:
print(S1)

{1, 3, 4, 5}

In [38]:
S1.discard(4)

In [39]:
print(S1)

{1, 3, 5}

In [40]:
# isdisjoint
A={1,2,3,4}
B={5,6}

In [41]:
print(A.isdisjoint(B))

True

In [42]:
S1={1,2,3,4,5,6,7,8,9}
S2={5,6,7}

In [43]:
print(S1.issuperset(S2))

True

In [44]:
print(S2.issuperset(S1))

False

In [45]:
print(S2.issubset(S1))

True

In [46]:
print(S1.issubset(S2))

False

In [47]:
print(S1.isdisjoint(S2))

False

In [48]:
#pop
S1={1,2,3,4,5,6,7,8,9}

In [49]:
print(S1.pop())

1

In [50]:
print(S1)

{2, 3, 4, 5, 6, 7, 8, 9}

In [55]:
S2={"Python","Django","CSS"}

In [56]:
print(S2.pop())

Python

In [57]:
for i in  S2:
    print(i)

CSS
Django

In [58]:
set.isdisjoint(S1,S2)

True

In [59]:
S1={1,2,3,4,5}
set.remove(S1,2)

In [60]:
print(S1)

{1, 3, 4, 5}

In [61]:
help(set.difference_update)

Help on method_descriptor:

difference_update(...)
    Remove all elements of another set from this set.

In [65]:
#difference_update
S1={1,2,3,4}
S2={3,4,5,6}

In [63]:
S1.difference_update(S2)

In [64]:
print(S1)

{1, 2}

In [66]:
S1.intersection_update(S2)

In [68]:
print(S1)
print(S2)

{3, 4}
{3, 4, 5, 6}

In [69]:
help(set.symmetric_difference)

Help on method_descriptor:

symmetric_difference(...)
    Return the symmetric difference of two sets as a new set.

    (i.e. all elements that are in exactly one of the sets.)

In [72]:
S1={1,2,3,4,5}
S2={4,5,6,7,8}

In [71]:
print(S1.symmetric_difference(S2))

{1, 2, 3, 6, 7, 8}

In [75]:
help(set.symmetric_difference_update)

Help on method_descriptor:

symmetric_difference_update(...)
    Update a set with the symmetric difference of itself and another.

In [80]:
S1={1,2,3,4,5}
S2={6,7,8}

In [81]:
print(S1.symmetric_difference_update(S1))

None