In [20]:
from collections import Counter

In [21]:
students=[('raa',101),('raju',102),('raa',103)]

In [22]:
for name,sid in students:
    print(name,sid)

raa 101
raju 102
raa 103

In [23]:
cnt1=Counter(name for name,sid in students)

In [24]:
print(cnt1)

Counter({'raa': 2, 'raju': 1})

In [25]:
type(cnt1)

collections.Counter

In [26]:
cnt1.elements()

In [27]:
for i in cnt1.elements():
    print(i)

raa
raa
raju

In [28]:
for i in cnt1.keys():
    print(i)

raa
raju

In [29]:
cnt1.most_common(1)

[('raa', 2)]

In [30]:
cnt1.subtract('sachin')

In [31]:
print(cnt1)

Counter({'raa': 2, 'raju': 1, 's': -1, 'a': -1, 'c': -1, 'h': -1, 'i': -1, 'n': -1})

In [32]:
students1=[('raa',110),('raa',111),('raa',112)]

In [33]:
cnt2=Counter(name for name,sid in students1)

In [34]:
for i in cnt2:
    print(i)

raa

In [35]:
cnt2.subtract('raa')

In [36]:
print(cnt2)

Counter({'raa': 3, 'r': -1, 'a': -2})

In [37]:
cnt2.subtract(cnt1)

In [38]:
print(cnt2)

Counter({'raa': 1, 's': 1, 'c': 1, 'h': 1, 'i': 1, 'n': 1, 'r': -1, 'a': -1, 'raju': -1})

In [39]:
cnt2.subtract(students)

In [40]:
print(cnt2)

Counter({'raa': 1, 's': 1, 'c': 1, 'h': 1, 'i': 1, 'n': 1, 'r': -1, 'a': -1, 'raju': -1, ('raa', 101): -1, ('raju', 102): -1, ('raa', 103): -1})

In [41]:
####--------##### namedtuple

In [58]:
from collections import namedtuple

In [43]:
t1=('sachin','python',8000,'M')

In [44]:
type(t1)

tuple

In [48]:
s1=namedtuple('t1','name course fee G')

In [59]:
s2=s1(name='sachin',course='python',fee=8000,G='M')

In [60]:
print(s2)

t1(name='sachin', course='python', fee=8000, G='M')

In [61]:
s2.name

'sachin'

In [62]:
s2.course

'python'

In [63]:
s2.fee

8000

In [57]:
s2.index