In [ ]:
# to get cx_oracle 
# pip install cx_oracle in cmd prompt

In [1]:
import cx_Oracle

In [5]:
#example1
conn=cx_Oracle.connect('scott/tiger@orcl')
cur=conn.cursor()
deptdata=cur.execute('select * from dept')
print(type(deptdata))
for i in deptdata:
    print(i)
cur.close()
conn.close()

<class 'cx_Oracle.Cursor'>
(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')
(40, 'OPERATIONS', 'BOSTON')

In [6]:
conn=cx_Oracle.connect('scott/tiger@orcl')
cur=conn.cursor()
deptdata=cur.execute('select * from dept')
print(deptdata.fetchall())
cur.close()
conn.close()

[(10, 'ACCOUNTING', 'NEW YORK'), (20, 'RESEARCH', 'DALLAS'), (30, 'SALES', 'CHICAGO'), (40, 'OPERATIONS', 'BOSTON')]

In [7]:
conn=cx_Oracle.connect('scott/tiger@orcl')
cur=conn.cursor()
deptdata=cur.execute('select * from dept')
print(deptdata.fetchone())
print(deptdata.fetchone())
print(deptdata.fetchone())
cur.close()
conn.close()

(10, 'ACCOUNTING', 'NEW YORK')
(20, 'RESEARCH', 'DALLAS')
(30, 'SALES', 'CHICAGO')

In [16]:
#Working with Oracle Procedure
#step1 : create a procedure in oracle
#step2 : testing oracle procedure in oracle
#step3 : calling oracle procedure from python

SCOTT

#step1 : create a procedure in oracle(you have to do in oracle)
create or replace procedure grossal
(
i_empno number,
gr_sal out number
)
as
v_sal number(7,2);
v_comm number(7,2);
begin
select sal,comm into v_sal,v_comm from emp where empno=i_empno;
gr_sal:=v_sal+v_comm;
end;
/

#step2 : testing oracle procedure in oracle(you have to do in oracle only)
declare
gross_salary number(7,2);
begin
grossal(7499,gross_salary);
dbms_output.put_line(gross_salary);
end;
/

In [ ]:
#Working with Oracle Function
#step1 : create a Function in oracle
#step2 : testing oracle Function in oracle
#step3 : calling oracle Function from python

step1 : create a Function in oracle
create or replace function empexp
(
iempno in number
) 
return number
as
exp number;
begin
select round((sysdate-hiredate)/365) into exp from emp where empno=iempno;
return exp;
end;
/

#step2 : testing oracle Function in oracle
select empexp(7499) from dual;

In [5]:
#step3 : calling oracle Function from python
con = cx_Oracle.connect('scott/tiger@orcl')
cur = con.cursor()
empno=input("Enter employee Number::")
exp = cur.callfunc('empexp', cx_Oracle.NUMBER, (empno,))
print (exp)
cur.close()
con.close()

Enter employee Number::7782
38.0

In [1]:
#inserting multiple records from list to database table
con = cx_Oracle.connect('scott/tiger@orcl')
rows = [ (101,'scott1','python',1500),(102,'scott2','python',1500),(103,'scott3','python',1500),(104,'scott4','python',1500)]
cur=con.cursor()
cur.bindarraysize = len(rows)
cur.setinputsizes(int,4)
cur.executemany("insert into student(sid,sname,course,fee) values (:1,:2,:3,:4)",rows)
con.commit()
cur.close()
con.close()

NameError: name 'cx_Oracle' is not defined